[submodule ".emacs.d/groovy-emacs-modes"]
	path = .emacs.d/groovy-emacs-modes
	url = https://github.com/Groovy-Emacs-Modes/groovy-emacs-modes.git
[submodule ".emacs.d/web-mode"]
	path = .emacs.d/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule ".emacs.d/js2-mode"]
	path = .emacs.d/js2-mode
	url = https://github.com/mooz/js2-mode.git
