[core]
	excludesfile = /home/mperdikeas/.gitignore_global
	editor = emacs
[alias]
	lgb = log --color  --graph --pretty=format:'%C(yellow)%h%Creset -%C(bold red)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit
        lg  = log --color --graph --oneline --decorate
        sstatus = status -s --ignored
        ppush = "!sh -c 'git push --all && git push --tags'"
        df = difftool
        branchdate = !git for-each-ref --sort='-authordate' --format='%(refname)%09%(authordate)' refs/heads | sed -e 's-refs/heads/--'
[color]
	ui = true
        diff=always
        status=auto
        branch=auto
[diff]
	tool = vimdiff
        external = git-meld
[user]
        name = mperdikeas
        email = mperdikeas@gmail.com
[push]
	default = current
[credential]
	helper = cache --timeout=86400
        # this doth seem to work also:
	#     helper = store
[gc]
	auto = 0
